.hero-content {
  background: #2f1d57;
  padding: 100px 0; }
  .hero-content h1 {
    font-size: 70px;
    font-weight: 300;
    margin-bottom: 50px; }

.selling-points {
  padding: 100px 0; }
  .selling-points .point {
    float: left;
    padding: 0 0.5%;
    width: 32%; }
    .selling-points .point h5 {
      font-size: 24px;
      font-weight: bold;
      height: 85px;
      margin-bottom: 20px;
      text-align: center; }
    .selling-points .point p {
      font-size: 14px; }

.album-header-container {
  margin-bottom: 40px;
  margin-top: 55px; }

.album-header-information {
  margin-bottom: 20px;
  margin-top: 45px; }
  .album-header-information h3, .album-header-information h4, .album-header-information h5 {
    line-height: 150%; }
  .album-header-information h3 {
    font-size: 48px;
    font-weight: 300; }
  .album-header-information h4 {
    font-size: 24px;
    font-weight: 700; }
  .album-header-information h5 {
    font-size: 16px;
    font-weight: 500; }

.table.album-song-listing {
  font-weight: 300; }
  .table.album-song-listing td {
    border-top: 1px solid rgba(255, 255, 255, 0.4);
    padding: 20px; }

.album-song-button {
  background-color: white;
  border-radius: 50% 50%;
  color: #d2287b;
  display: inline-block;
  font-size: 14px;
  height: 28px;
  text-align: center;
  width: 28px; }
  .album-song-button :hover {
    background-color: #d2287b;
    color: white;
    cursor: pointer; }
  .album-song-button i {
    line-height: 28px; }
  .album-song-button .fa-play {
    padding-left: 5px; }

.album-song-listing td {
  vertical-align: middle; }

td.song-number {
  height: 70px;
  padding: 0;
  text-align: center; }

.collection-album-container {
  margin-bottom: 20px;
  margin-top: 30px; }
  .collection-album-container .caption {
    margin-top: 10px; }
    .collection-album-container .caption p {
      color: rgba(255, 255, 255, 0.6);
      font-size: 16px;
      font-weight: 300; }
      .collection-album-container .caption p a {
        color: rgba(255, 255, 255, 0.6); }
      .collection-album-container .caption p a.album-name {
        color: white; }
  .collection-album-container img {
    max-width: 100%; }
  .collection-album-container .collection-album-image-container {
    position: relative; }
  .collection-album-container .collection-album-image-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0px;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: 10; }
  .collection-album-container .collection-overlay-content {
    bottom: 20px;
    position: absolute;
    text-align: center;
    width: 100%; }
  .collection-album-container .collection-overlay-button {
    background-color: white;
    border-radius: 5% 5%;
    color: #d2287b;
    display: inline-block;
    font-size: 20px;
    height: 42px;
    width: 42px; }
    .collection-album-container .collection-overlay-button :hover {
      background-color: #d2287b;
      color: #55cc00;
      cursor: pointer; }
    .collection-album-container .collection-overlay-button i {
      line-height: 42px; }
    .collection-album-container .collection-overlay-button .fa-play {
      padding-left: 5px; }

.player-bar {
  background: rgba(255, 255, 255, 0.3);
  bottom: 0;
  height: 150px;
  left: 0;
  position: fixed;
  right: 0;
  z-index: 100; }
  .player-bar a, .player-bar a:hover {
    color: white;
    cursor: pointer;
    text-decoration: none; }
  .player-bar .container {
    display: table;
    min-height: 100%;
    padding: 0; }
  .player-bar .left-controls {
    text-align: left;
    width: 25%; }
  .player-bar .right-controls {
    text-align: right;
    width: 25%; }
  .player-bar .play-controls a {
    font-size: 20px;
    vertical-align: middle; }
  .player-bar a:hover {
    color: rgba(255, 255, 255, 0.5);
    transition: all 1200ms; }
  .player-bar .previous {
    margin-right: 65px; }
  .player-bar .play-pause {
    font-size: 30px;
    margin-right: 60px; }

.currently-playing {
  position: relative;
  text-align: center;
  width: 50%; }
  .currently-playing .song-name, .currently-playing .artist-name {
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    position: absolute;
    text-align: center;
    width: 100%; }
  .currently-playing .song-name {
    top: 20px; }
  .currently-playing .artist-name {
    bottom: 20px; }

.queue-toggle {
  display: inline-block;
  margin-left: 75px; }
  .queue-toggle i {
    font-size: 20px; }

.volume {
  display: inline-block; }
  .volume i {
    display: inline-block;
    font-size: 20px;
    vertical-align: middle;
    width: 40px; }
  .volume .seek-bar {
    display: inline-block;
    vertical-align: middle;
    width: 100px; }

.player-bar-control-group {
  display: table-cell;
  vertical-align: middle; }

.seek-control {
  position: relative; }
  .seek-control .current-time {
    position: absolute;
    top: 10px; }
  .seek-control .total-time {
    position: absolute;
    right: 0;
    top: 10px; }

.seek-bar {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 2px;
  cursor: pointer;
  height: 5px;
  position: relative; }
  .seek-bar .fill {
    background: white;
    border-radius: 2px;
    height: 5px;
    width: 36%; }
  .seek-bar .thumb {
    background: white;
    border-radius: 50%;
    cursor: pointer;
    height: 10px;
    left: 36%;
    margin-left: -5px;
    margin-top: -5px;
    position: absolute;
    top: 50%;
    transition: all 100ms ease-in-out;
    width: 10px; }
  .seek-bar.no-animate .fill, .seek-bar.no-animate .thumb {
    transition: none; }
  .seek-bar:hover .thumb {
    height: 20px;
    margin-left: -10px;
    margin-top: -10px;
    width: 20px; }

html {
  height: 100%; }

body {
  background: linear-gradient(#8ddca3, #55cc00);
  background: -webkit-linear-gradient(#8ddca3, #55cc00);
  color: white;
  font-family: 'Open Sans';
  min-height: 100%;
  padding-bottom: 150px; }

body.landing {
  background: #5b5579;
  padding-bottom: 0; }

.player-header-nav {
  background-color: rgba(123, 70, 163, 0.9); }

body.landing .navbar {
  margin-bottom: 0; }


/*# sourceMappingURL=app.css.map*/